<h1><%= @error.title %></h1>
<br/>
<p class='well'><%= @error.error_message %></p>
<p><%= @error.explanation %></p>
<p>Created by <%= @error.name %> <%= time_ago_in_words(@error.created_at) %> ago.</p>
